*~
*.Po
*.Plo
Makefile
autom4te.cache

config.guess
config.h
config.h.in
config.log
config.status
config.sub

configure
configure.in

.dirstamp
Makefile.in
*.m4
compile
missing
genbinary.sh
install-sh
ltmain.sh
depcomp
libtool
stamp-h1
swig/perl/Makefile.PL

